{% extends "base.html" %}

{% block title %}考试锁定{% endblock %}

{% block content %}
<div class="page-header">
    <h1>考试锁定</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">考试列表</h3>
    </div>
    <div class="panel-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exam_id">考试类别</label>
                <select class="form-control" id="exam_id" name="exam_id" required>
                    <option value="">-- 请选择 --</option>
                    {% for exam in exams %}
                        <option value="{{ exam.exam_ID }}">{{ exam.exam_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>操作</label>
                <div class="radio">
                    <label><input type="radio" name="action" value="lock" checked> 锁定</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="action" value="unlock"> 解锁</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
{% endblock %}